.c1{
     
     border: solid 2px black;
  height: 400px;
  width: 270px;
  

}

h1{
     text-align: center;
}
.a{
     background-color: blue;
     border: solid 2px black;
  height: 150px;
  width: 50px;
  display: inline-block;

}
.b{
     background-color: white;
     border: solid 2px black;
  height: 150px;
  width: 50px;
  display: inline-block;
}
.c{
     background-color: red;
     border: solid 2px black;
  height: 150px;
  width: 50px;
  display: inline-block;
}